:root {
  --border-color: #d9d9d9;

  --main-green: #19a78e;
  --font-color: #333333;
  --font-color-sub: #5f5f5f;
  --sub-color-orange: #fbb731;
  --sub-color-gray: #fafafa;
  --sub-color-green: #f3f9f0;
  --sub-color-pink: #ff8888;
}

* {
  color: var(--font-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;

  font-optical-sizing: auto;
}

h1 {
  font-size: 47.78px;
}
h2 {
  font-size: 39.81px;
}
h3 {
  font-size: 33.18px;
}
h4 {
  color: var(--main-green);
  font-size: 27.65px;
}
p {
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.8px;
}
body {
  position: relative;
}

/* icon */
.icon-call {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 5px;
  background: url(/assets/icon/call.svg);
}

/* 全体 */
.wrapper {
  margin: 0 auto;
}

@media only screen and (max-width: 1279px) {
  .wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
/* 装飾 */
strong[class~='pink'] {
  color: #ff8888;
  font-weight: 400;
}

/* header */
header {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  width: 90%;
  max-width: 1280px;
  height: 85px;
  margin: 0 auto;
  padding-top: 10px;
  border-radius: 0 0 30px 30px;
  background: rgba(255, 255, 255, 0.9);
}
.header-left {
  margin-left: 43px;
}
.subtitle {
  margin-top: 4px;
  margin-left: 5px;
  color: var(--font-color-sub);
  font-size: 10px;
  line-height: 150%; /* 15px */
  letter-spacing: -0.22px;
}
.header-title {
  color: var(--font-color-sub);
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.704px;
}
.header-right {
  margin-right: 46px;
  margin-left: auto;
}
.header-right > p {
  color: var(--font-color);
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
  text-align: center;
}
.call-btn {
  color: var(--sub-color-orange);
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.704px;
}
@media only screen and (max-width: 767px) {
  header {
    flex-wrap: wrap;
    align-items: center;
    height: 110px;
    padding-top: 4px;
  }
  .header-left {
    margin: 0 auto;
  }
  .subtitle {
    margin: 0 auto;
    font-size: 9px;
    text-align: center;
  }
  .header-title {
    font-size: 1.5rem;
  }
  .header-right {
    margin: 0 auto;
  }
  .header-right > p {
    font-size: 10px;
  }
  .call-btn {
    font-size: 1.5rem;
  }
}
/* first-view-swiper */
.first-view-swiper {
  position: relative; /*scheduleのCSSは、Footerの次に記述*/
}
.first-view-swiper > .swiper-wrapper {
  width: 100%;
  height: 700px;
}
.swiper-slide > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
@media only screen and (max-width: 767px) {
  .first-view-swiper > .swiper-wrapper {
    height: 450px;
  }
  .swiper-slide-img-1 {
    object-position: 63% 50%;
  }
  .swiper-slide-img-2 {
    object-position: 42% 50%;
  }
  .swiper-slide-img-3 {
    object-position: 64% 50%;
  }
  .swiper-slide-img-4 {
    object-position: 25% 50%;
  }
}
/* Nav */
nav {
  width: 100%;
  height: 150px;
  background-color: #ffffff;
}
.nav-inner {
  display: flex;
  position: relative;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}
.nav-inner::before {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 1;
  width: 1px;
  height: 100px;
  background-color: var(--border-color);
  content: '';
}
.nav-inner a {
  position: relative;
  width: 25%;
  text-align: center;
  transition: 0.5s;
}
.nav-inner a:hover {
  background-color: var(--sub-color-green);
}
.nav-inner a:after {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 0;
  width: 1px;
  height: 100px;
  background-color: var(--border-color);
  content: '';
}
.nav-inner li {
  margin-top: 35px;
}
.nav-inner p {
  font-weight: 500;
  font-size: 23.04px;
  line-height: 150%; /* 34.56px */
  letter-spacing: -0.507px;
}
.nav-spmenu-home {
  display: none;
}
@media only screen and (max-width: 1279px) {
  nav {
    height: 113px;
  }
  .nav-inner li {
    margin-top: 20px;
  }
  .nav-inner::before {
    display: none;
  }
  .nav-inner a:after {
    top: 19px;
    height: 75px;
  }
  .nav-inner a:nth-of-type(4):after {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  nav {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .nav-inner a:after {
    display: none;
  }
  .nav-spmenu-home {
    display: block;
  }
  .nav-spmenu-home li {
    justify-content: center !important;
  }
}
/* ハンバーガーメニュー */
#nav-switch {
  display: none;
}
@media screen and (max-width: 767px) {
  #nav-switch {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    right: 1rem;
    bottom: 16px;
    z-index: 100;
    width: 46px;
    height: 46px;
    padding: 8px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  #nav-switch span {
    display: block;
    width: 23px;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
  }
  #nav-switch.on span {
    background-color: #ffffff;
  }
  #nav-switch.on span:nth-of-type(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #nav-switch.on span:nth-of-type(2) {
    transform: scale(0);
  }
  #nav-switch.on span:nth-of-type(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  #nav-menu {
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 10;
    width: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
  }
  #nav-menu.on {
    left: 0;
  }
  .nav-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .nav-inner a {
    width: 174px;
    margin: 15px 0;
  }
  .nav-inner li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;

    column-gap: 20px;
  }
}

/* info */
.info {
  max-width: 1280px;
  height: 468px;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 56px;
  background-image: url(/assets/img/TOP/info-bg-img.webp);
}
.info-inner {
  width: 100%;
  max-width: 1000px;
  height: 356px;
  margin: 0 auto;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}
.info-inner-header {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 24px;
  padding-right: 23px;
  padding-left: 24px;
}
.info-inner-header:after {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 952px;
  margin: 0 auto;
  border-bottom: 1px dotted #333333;
  content: '';
}
.info-inner-header-left {
  margin-right: auto;
}
.info-subtitle {
  color: var(--main-green);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
}
.info-title {
  color: var(--font-color);
  font-weight: 500;
  font-size: 23.04px;
  line-height: 150%; /* 34.56px */
  letter-spacing: -0.507px;
}

.info-inner-body {
  padding-right: 23px;
  padding-left: 24px;
}
.info-inner-body-link {
  display: block;
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;
}
.info-inner-body-link:after {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 952px;
  margin: 0 auto;
  border-bottom: 1px dotted #333333;
  content: '';
}
.info-detail-day {
  color: var(--font-color);
  font-size: 16px;
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
}
.info-detail-title {
  color: var(--font-color);
  font-size: 16px;
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
}
@media only screen and (max-width: 1279px) {
  .info {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .info {
    height: auto;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }
  .info-inner {
    height: auto;
  }
  .info-inner-header {
    padding: 1rem 1rem 0 1rem;
  }
  .info-subtitle {
    font-size: 10px;
  }
  .info-title {
    font-size: 1rem;
  }
  .info-inner-body {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .info-inner-body-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .info-detail-day {
    font-size: 14px;
  }
  .info-detail-title {
    font-size: 14px;
  }
  .info-inner-body-link:nth-last-of-type(1):after {
    display: none;
  }
}
/* TOP ページ */
.top-section-title {
  text-align: center;
}
.top-section-title > span {
  color: var(--sub-color-pink);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
}
.top-section-title > h2 {
  position: relative;
  color: var(--font-color);
  font-weight: 400;
  font-size: 39.81px;
  line-height: 150%; /* 59.715px */
  letter-spacing: -0.876px;
}
.top-section-title > h2:after {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 546px;
  margin: 0 auto;
  border-bottom: 1px dotted var(--main-green);
  content: '';
}
.information-wrapper {
  width: 100%;
  max-width: 1280px;
  margin-top: 40px;
  margin-bottom: 64px;
}
.information-body {
  margin-top: 75px;
  text-align: center;
}
.information-body p:first-child {
  margin-bottom: 32px;
}
@media only screen and (max-width: 767px) {
  .top-section-title > span {
    font-size: 14px;
  }
  .top-section-title > h2 {
    font-size: 1.5rem;
  }
}
/* schedule */
table {
  border-collapse: unset;
}
td {
  vertical-align: middle;
}
.schedule-table {
  width: 100%;
  margin: 20px 0;
  table-layout: fixed;
}
.schedule-table thead {
  background-color: #19a78e;
}
.schedule-table th {
  color: #ffffff;
}
.schedule-table td {
  color: var(--main-green);
}
.schedule-table th,
.schedule-table td {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%; /* 19.5px */
  letter-spacing: -0.286px;
  text-align: center;
}
.shedule-tabel-border-index {
  position: relative;
}
.shedule-tabel-border-index:after {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid rgba(25, 167, 142, 0.4);
  content: '';
}
.shedule-tabel-border-ampm {
  position: relative;
}
.shedule-tabel-border-ampm:after {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid rgba(25, 167, 142, 0.4);
  content: '';
}
.shedule-tabele-border {
  border-bottom: 1px solid rgba(25, 167, 142, 0.4);
}
@media only screen and (max-width: 767px) {
  .schedule-table {
    width: 768px;
    white-space: nowrap;
    border-collapse: collapse;
  }
}
/* characteristics */
.characteristics-wrapper {
  width: 100%;
  max-width: 1280px;
  height: 995px;
  overflow: hidden;
}
.wrapper-arc {
  position: relative;
  height: 904px;
  margin-right: -327px;
  margin-left: -327px;
  padding-right: 327px;
  padding-left: 327px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  background: var(--sub-color-green);
}
.characteristics-wrapper .top-section-title {
  margin-bottom: 110px;
  padding-top: 60px;
}
.characteristics-body {
  display: flex;
  justify-content: space-between;
  margin-right: 66px;
  margin-bottom: 138px;
  margin-left: 66px;
}
.characteristics-body-item {
  width: 33%;
  max-width: 352px;
  text-align: center;
}
.characteristics-body-item-title,
.characteristics-body-item-title > strong {
  position: relative;
  font-size: 23.04px;
  line-height: 150%; /* 34.56px */
  letter-spacing: -0.507px;
}
.characteristics-body-item-title:after {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 62px;
  margin: 0 auto;
  border-bottom: 1px solid var(--main-green);
  content: '';
}
.characteristics-body-item:nth-of-type(1) h3 {
  margin-top: 13px;
  margin-bottom: 40.65px;
}
.characteristics-body-item:nth-of-type(1)
  .characteristics-body-item-title:after,
.characteristics-body-item:nth-of-type(3)
  .characteristics-body-item-title:after {
  bottom: -22px;
}
.characteristics-body-item:nth-of-type(2) h3 {
  margin-top: 2px;
  margin-bottom: 24px;
  line-height: 120%; /* 27.648px */
}
.characteristics-body-item:nth-of-type(2)
  .characteristics-body-item-title:after {
  bottom: -12px;
}
.characteristics-body-item:nth-of-type(3) h3 {
  margin-top: 13px;
  margin-bottom: 40.65px;
}
.characteristics-body-item p {
  line-height: 150%; /* 24px */
  letter-spacing: -0.176px;
}
.endlessSwiper {
  position: absolute;
  bottom: -90px;
  width: 100%;
  height: 210px;
}
.endlessSwiper > .swiper-wrapper {
  transition-timing-function: linear;
}
/* 画像のサイズ調整 */
.endlessSwiper > .swiper-wrapper > .swiper-slide img {
  width: 300px;
  height: auto;
}
@media only screen and (max-width: 1279px) {
  .characteristics-body {
    margin-right: 0;
    margin-left: 0;
  }
  .endlessSwiper {
    left: -2rem;
  }
  .endlessSwiper > .swiper-wrapper > .swiper-slide img {
    width: 24vw;
  }
}
@media only screen and (max-width: 767px) {
  .characteristics-wrapper {
    height: 1600px;
  }
  .wrapper-arc {
    height: 1600px;
  }
  .characteristics-wrapper .top-section-title {
    margin-bottom: 60px;
  }
  .characteristics-body {
    flex-direction: column;
    align-items: center;
  }
  .characteristics-body-item {
    width: 100%;
    margin-bottom: 2rem;
  }
  .characteristics-body-item-title,
  .characteristics-body-item-title > strong {
    font-size: 1.25rem;
  }
  .endlessSwiper {
    bottom: 0;
    left: -1rem;
    height: auto;
  }
  .endlessSwiper > .swiper-wrapper > .swiper-slide img {
    width: 45vw;
    max-width: 160px;
  }
}
/* menu */
.menu-wrapper {
  margin-top: 65px;
  margin-bottom: 100px;
}
.menu-body {
  display: grid;
  max-width: 1000px;
  margin-top: 89px;
  margin-right: auto;
  margin-left: auto;

  grid-template-columns: repeat(2, 1fr);
  row-gap: 200px;
  column-gap: 100px;
  justify-items: center;
}

.menu-item-header-img {
  width: 100%;
  max-width: 450px;
}
.menu-item > ul {
  list-style-position: inside;
  list-style-image: url(/assets/icon/row.svg);
  margin-top: 25px;
  padding-right: 11px;
  padding-left: 15px;
}
.menu-item > ul > li {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
}
.menu-item > ul > li:after {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: -6px;
  max-width: 430px;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-color);
  content: '';
}
@media only screen and (max-width: 1279px) {
  .menu-body {
    row-gap: 60px;
    column-gap: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .menu-body {
    grid-template-columns: 1fr;
  }
}
/* アクセス・診療スケジュール */
.acces-wrapper {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  overflow: hidden;
}
.wrapper-arc-acces {
  position: relative;
}
.wrapper-arc-acces:after {
  position: absolute;
  right: 0;
  bottom: -386px;
  left: 0;
  z-index: -1;
  height: 386px;
  margin-right: -327px;
  margin-left: -327px;
  padding-right: 327px;
  padding-left: 327px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background: var(--sub-color-green);
  content: '';
}
.wrapper-box-accses {
  position: relative;
}
.wrapper-box-accses:after {
  position: absolute;
  top: 384px;
  right: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  background: var(--sub-color-green);
  content: '';
}
.acces-wrapper .top-section-title {
  margin-bottom: 82px;
  padding-top: 49px;
}
.acces-body {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 82px;
  padding-top: 62px;
  padding-right: 87px;
  padding-bottom: 82px;
  padding-left: 87px;
  border-radius: 8px;
  background-color: #ffffff;
}

.acces-row {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px dotted #000000;
}
.acces-row > dt,
.acces-row > dd {
  padding: 22px 0;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
}
.acces-row > dt {
  flex-basis: 146px;
  margin-right: 79px;
  font-weight: 400;
}
.acces-row > dd {
  flex-basis: 341px;
}
.acces-table {
  width: 826px;
}
.acces-table .schedule-table th {
  padding-top: 10px;
  padding-bottom: 13px;
}
.acces-table .schedule-table td {
  padding-top: 10px;
  padding-bottom: 13px;
}
.acces-table .schedule-table tr > th:nth-of-type(1) {
  padding-left: 25px;
  text-align: left;
}
.acces-table .schedule-table tr > td {
  padding-top: 14px;
  padding-bottom: 14px;
}
.acces-table .am-index {
  line-height: 88px !important;
}
.acces-table .pm-index {
  padding-bottom: 30px !important;
  line-height: 114px !important;
}
.shedule-tabel-border-index:after {
  width: 85px;
}
.shedule-tabel-border-ampm:after {
  width: 200px;
}
.acces-map {
  position: relative;
  width: 100%;
  height: 0;
  margin-top: 68px;
  padding-top: 50%;
}
.acces-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1279px) {
  .acces-body {
    padding: 40px;
  }
  .wrapper-box-accses:after {
    left: -2rem;
    width: 100vw;
  }
  .acces-table {
    width: 100%;
  }
  .acces-table .shedule-tabel-border-ampm:after {
    width: 20vw;
    max-width: 222px;
  }
  .acces-table .shedule-tabel-border-index:after {
    max-width: 8.5vw;
  }
}
@media only screen and (max-width: 767px) {
  .acces-body {
    padding: 1rem;
  }
  .wrapper-box-accses:after {
    left: -1rem;
  }
  .acces-row > dt {
    padding-bottom: 1rem;
  }
  .acces-row > dd {
    padding-top: 0;
  }
  .acces-table {
    overflow-x: scroll;
  }
  .acces-map {
    margin-top: 0;
  }
  .acces-table .shedule-tabel-border-ampm:after {
    width: 58vw;
    max-width: 184px;
  }
  .acces-table .shedule-tabel-border-index:after {
    width: 23vw;
    max-width: 77px;
  }
}
/* Group Links */
.group-wrapper {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  background-color: var(--sub-color-gray);
}
.group-links {
  display: grid;
  align-items: center;
  max-width: 839px;
  margin: 0 auto;
  padding-top: 82px;
  padding-bottom: 82px;

  grid-template-columns: repeat(3, 1fr);
  row-gap: 38px;
  column-gap: 35px;
  justify-items: center;
}
.group-links a:nth-child(1) {
  text-align: center;

  grid-column: span 3;
}
.group-links img {
  display: block;
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 767px) {
  .group-links {
    grid-template-columns: 1fr;
  }
  .group-links a:nth-child(1) {
    grid-column: 1;
  }
}
/* footer */
footer {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}
.footer-top {
  display: flex;
  padding-top: 44px;
  padding-right: 50px;
  padding-bottom: 24px;
  padding-left: 51px;
}

.footer-title {
  display: block;
  margin-bottom: 27px;
  color: var(--font-color-sub);
  font-weight: 500;
  font-size: 64px;
  line-height: 150%; /* 96px */
  letter-spacing: -1.408px;
}
.footer-access {
  margin-bottom: 56px;
}
.footer-access-row {
  display: flex;
  flex-wrap: wrap;
}
.footer-access-row > dt,
.footer-access-row > dd {
  padding: 2.5px 0;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
}
.footer-access-row > dt {
  flex-basis: 64px;
  margin-right: 33px;
  font-weight: 400;
  text-align: center;
}
.footer-access-row > dd {
  flex-basis: 341px;
}
.footer-table {
  width: 592px;
}
.footer-table .schedule-table th {
  width: 4px;
  padding-top: 7px;
  padding-bottom: 8px;
}
.footer-table .schedule-table tr > th:nth-of-type(1) {
  padding-left: 10px;
  text-align: left;
}
.footer-table .schedule-table tr > td {
  height: 46px;
  padding-top: 8px;
  padding-bottom: 7px;
}
.footer-table .am-index {
  line-height: 28px !important;
}
.footer-table .pm-index {
  padding-bottom: 12px !important;
  line-height: 30px !important;
}
.footer-table .shedule-tabel-border-index:after {
  width: 70px;
}
.footer-table .shedule-tabel-border-ampm:after {
  width: 170px;
}
.footer-top-right {
  width: 100%;
}
.footer-map {
  position: relative;
  width: 543px;
  height: 222px;
  margin-left: auto;
}
.footer-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer-map-caption {
  text-align: center;
}
.footer-links {
  margin-top: 90px;
  margin-left: auto;
}
.footer-links > ul {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.footer-links li {
  position: relative;
  margin-right: 15px;
  padding-right: 15px;
}
.footer-links li::after {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  content: '/';
}
.footer-links li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.footer-links li:last-child::after {
  content: '';
}
.footer-bottom {
  height: 44px;
  background-color: var(--border-color);
  text-align: center;
}
.footer-bottom a {
  color: #000000;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.352px;
}
@media only screen and (max-width: 1279px) {
  .footer-top {
    flex-direction: column;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
  .footer-top-left {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .footer-title,
  .footer-access {
    margin-bottom: 1rem;
  }
  .footer-table {
    width: 100%;
  }
  .footer-table .shedule-tabel-border-ampm:after {
    width: 26vw;
    min-width: 199px;
  }
  .footer-table .shedule-tabel-border-index:after {
    width: 10vw;
    max-width: 115px;
  }
  .footer-map {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .footer-top {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .footer-title {
    font-size: 2rem;
  }
  .footer-access-row > dt {
    text-align: left;
  }
  .footer-table {
    overflow-x: scroll;
  }
  .footer-links {
    margin-top: 2rem;
  }
  .footer-links > ul {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .footer-table .shedule-tabel-border-ampm:after {
    width: 29vw;
    min-width: 222px;
  }
  .footer-table .shedule-tabel-border-index:after {
    width: 26vw;
    max-width: 84px;
  }
}
/* First View Schedule */
.first-view-table {
  position: absolute;
  right: 40px;
  bottom: 20px;
  z-index: 1;
  width: 611px;
  height: 244px;
  background-color: rgba(255, 255, 255, 0.95);
}
.first-view-table .schedule-table {
  width: 571px;
  margin: 15px 20px;
}
.first-view-table .schedule-table th {
  padding-top: 6px;
  padding-bottom: 7px;
}
.first-view-table .schedule-table td {
  padding-top: 7px;
  padding-bottom: 7px;
}
.first-view-table .schedule-table th,
.first-view-table .schedule-table td {
  line-height: 16px;
}
.first-view-table .schedule-table tr > th:nth-of-type(1) {
  padding-left: 10px;
  text-align: left;
}
.first-view-table .am-index {
  line-height: 17px !important;
  letter-spacing: -0.55px;
}
.first-view-table .pm-index {
  padding-bottom: 25px !important;
  line-height: 17px !important;
  letter-spacing: -0.55px;
}
.first-view-table .shedule-tabel-border-index:after {
  width: 60px;
}
.first-view-table .shedule-tabel-border-ampm:after {
  width: 140px;
}
.first-view-table span {
  color: inherit;
  font-size: 10px;
}
@media only screen and (max-width: 1279px) {
  .first-view-table {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 767px) {
  .first-view-table {
    display: none;
  }
}
/*
*
* 
一般医科ページ
*
*
*/

.lower-layer-page-header {
  position: unset;
  width: 100%;
  height: 120px;
  padding-top: unset;
}
.lower-layer-page-header .header-left {
  margin-top: 40px;
  margin-left: 86px;
}
.lower-layer-page-header .header-right {
  margin-top: 36px;
  margin-right: 89px;
}
.page-title-header {
  max-width: 1280px;
  height: 200px;
  margin: 0 auto;
  background-image: url(/assets/img/lower-layer/header-img.webp);
  background-color: var(--main-green);
}
.page-title-header h2 {
  margin: auto;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 47.78px;
  line-height: 200px; /* 71.67px */
  letter-spacing: -1.051px;
  text-align: center;
}
.lower-layer-page-wrapper {
  padding-top: 100px;
  padding-bottom: 150px;
}
.lower-layer-page-wrapper .top-section-title > span {
  color: var(--border-color);
}
.lower-layer-page-wrapper .top-section-title > h2 {
  color: var(--main-green);
}
.lower-layer-page-wrapper .top-section-title > h2:after {
  max-width: 100px;
  border-bottom: 1px solid var(--sub-color-orange);
}
.lower-layer-page-wrapper h3 {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 46px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 48px;
  border-radius: 6px;
  background-color: var(--sub-color-green);
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 1.659px;
}
.lower-layer-page-wrapper h3::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%) translateX(-50%);
  width: 2px;
  height: 33.18px;
  background-color: var(--main-green);
  content: '';
}
@media only screen and (max-width: 767px) {
  .page-title-header {
    background-position: 24% 50%;
  }
  .page-title-header h2 {
    font-size: 2rem;
  }
  .lower-layer-page-header {
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .lower-layer-page-header .header-left {
    margin: 0 auto;
  }
  .lower-layer-page-header .header-right {
    margin: 0 auto;
  }
  .lower-layer-page-wrapper {
    padding-top: 0;
  }
  .lower-layer-page-wrapper .top-section-title {
    margin-top: 0 !important;
    margin-bottom: 46px;
    padding-top: 46px;
  }
  .lower-layer-page-wrapper h3 {
    font-size: 1.5rem !important;
    line-height: 30px !important;
  }
}
/* mc-characteristics */
.mc-characteristics {
  max-width: 1000px;
  padding-bottom: 100px;
}
.mc-characteristics-body {
  margin-top: 46px;
  text-align: center;
}
.mc-menu {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  padding-top: unset;
  padding-bottom: 180px;
  overflow: hidden;
}
.wrapper-arc-menu {
  position: relative;
}
.wrapper-arc-menu:after {
  position: absolute;
  right: 0;
  bottom: -386px;
  left: 0;
  z-index: -1;
  height: 386px;
  margin-right: -327px;
  margin-left: -327px;
  padding-right: 327px;
  padding-left: 327px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background: var(--sub-color-green);
  content: '';
}
.wrapper-box-menu {
  position: relative;
}
.wrapper-box-menu:after {
  position: absolute;
  top: 180px;
  right: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  background: var(--sub-color-green);
  content: '';
}
.wrapper-box-menu .top-section-title {
  margin-top: 100px;
  margin-bottom: 180px;
}
.mc-menu-body {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
.mc-menu-body img {
  max-width: 230px;
}
@media only screen and (max-width: 767px) {
  .mc-menu-body {
    flex-direction: column;
    align-items: center;

    row-gap: 46px;
  }
  .wrapper-box-menu .top-section-title {
    margin-top: 46px;
    margin-bottom: 46px;
  }
  .wrapper-box-menu:after {
    right: -1rem;
    left: -1rem;
  }
}
/* mc-vaccin */
.mc-vaccine {
  max-width: 1000px;
  margin: 0 auto;
}
.mc-vaccine-body {
  margin-top: 46px;
}
.mc-vaccine-body > p {
  margin-top: 46px;
  margin-bottom: 46px;
  text-align: center;
}
.vaccine-price-list {
  margin: auto;
  margin-bottom: 150px;
  padding: 103px 126px 96px;
  border: 3px solid var(--main-green);
  border-radius: 16px;
  background-color: var(--sub-color-green);
}
.vaccine-price-list .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px dotted var(--main-green);
}
.vaccine-price-list .row:nth-child(1) {
  padding-top: 0;
}
.vaccine-price-list dt,
.vaccine-price-list dd {
  flex: 1;
  margin: 0;
  padding: 5px;
}
.vaccine-price-list dt {
  flex-basis: 363px;
  height: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  color: var(--main-green);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.8px;
}
.vaccine-price-list dd {
  flex-basis: 305px;
  padding: 10px;
  color: var(--font-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 200%; /* 64px */
  letter-spacing: 1.6px;
  text-align: right;
}
.vaccine-price-list dd > span {
  font-weight: 500;
  font-size: 32px;
}
.vaccine-price-list .note {
  margin-top: 16px;
  text-align: right;
}
.vaccine-price-list br {
  display: none;
}

.shingles-list .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px dotted var(--main-green);
}
.shingles-list .row:nth-child(1) {
  padding-top: 0;
}
.shingles-list dt,
.shingles-list dd {
  flex: 1;
  margin: 0;
}
.shingles-list dt {
  flex-basis: 363px;
  height: 48px;
  margin-right: 80px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  border-radius: 5px;
  background-color: var(--sub-color-green);
  color: var(--main-green);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.8px;
}
.shingles-list dd {
  flex-basis: 557px;
  color: var(--font-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 200%; /* 64px */
  letter-spacing: 0.8px;
  text-align: left;
}
.shingles-list .row:nth-child(2) dd {
  line-height: 150%;
}
.shingles-list dd > span {
  font-weight: 500;
  font-size: 32px;
}
@media only screen and (max-width: 767px) {
  .vaccine-price-list {
    padding: 2rem 1rem;
  }
  .vaccine-price-list dt {
    height: 100%;
    padding: 5px 1rem;
  }
  .vaccine-price-list dd > span {
    font-size: 1.5rem;
  }
  .vaccine-price-list br {
    display: block;
  }
  .shingles-list dt {
    margin: 0;
  }
  .shingles-list dd {
    text-align: right;
  }
}
/* mc-NoSmork */
.mc-nosmork {
  max-width: 1280px;
  padding-bottom: 100px;
  background-color: var(--sub-color-green);
}
.mc-nosmork .top-section-title {
  margin-bottom: 46px;
}
.mc-nosmork-body p {
  margin-bottom: 46px;
  text-align: center;
}
.mc-nosmork-body p:nth-child(2) {
  margin-bottom: 0;
  color: var(--sub-color-pink);
}
/* mc-Doctor */
.mc-doctor {
  max-width: 1280px;
}
.mc-doctor .top-section-title {
  margin-bottom: 100px;
}
.mc-doctor-body {
  position: relative;
  max-width: 1000px;
  height: 880px;
  margin: 0 auto;
  margin-bottom: 87px;
}
.doctor-txt {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 622px;
  padding: 50px 70px;
  border-radius: 6px;
  background: rgba(243, 249, 240, 0.9);
}
.doctor-txt > h3 {
  position: unset;
  width: 100%;
  height: auto;
  margin-top: unset;
  margin-bottom: 24px;
  padding: 0;
  border-radius: unset;
  background-color: unset;
  color: var(--main-green);
  font-weight: 700;
  line-height: 200%;
  font-family: 'Shippori Mincho B1', serif;
  letter-spacing: 1.659px;
}
.doctor-txt > h3::before {
  display: none;
}
.doctor-greeting {
  margin-bottom: 24px;
  font-weight: 700;
  font-family: 'Shippori Mincho B1', serif;
}
.doctor-signature {
  font-weight: 700;
  font-family: 'Shippori Mincho B1', serif;
  text-align: right;
}
.doctor-signature > ruby {
  font-weight: 700;
  font-family: 'Shippori Mincho B1', serif;
  text-align: right;
}
.doctor-signature > ruby > rt {
  font-weight: 700;
  font-size: 10px;
  font-family: 'Shippori Mincho B1', serif;
  text-align: right;
}
.mc-doctor-body > img {
  position: absolute;
  top: 83px;
  right: 0;
  z-index: 1;
}
.career {
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid #8cd3c6;
  border-radius: 16px;
}
.career dl {
  margin: 0;
  padding: 0;
}
.career .row {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid #8cd3c6;
}
.career .row:nth-child(1) dt {
  border-radius: 16px 0 0 0;
}
.career .row:nth-child(2) {
  border-radius: 0 0 0 16px;
}
.career .row:nth-child(2) dt {
  border-radius: 0 0 0 16px;
}
.career dt,
.career dd {
  margin: 0;
  padding: 10px;
}
.career dt {
  flex-basis: 20%;
  padding-top: 25px;
  padding-left: 35px;
  border-right: 1px solid #8cd3c6;
  background-color: var(--sub-color-green);
  color: var(--main-green);
  font-weight: 700;
  line-height: 200%; /* 32px */
  letter-spacing: 0.8px;
  text-align: left;
}
.career dd {
  flex-basis: 80%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 45px;
  line-height: 200%; /* 32px */
  letter-spacing: 0.8px;
}
.career dd br {
  display: block;
  margin: 4px 0;
  content: '';
}
@media only screen and (max-width: 767px) {
  .mc-doctor-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 2rem;
  }
  .doctor-txt {
    position: unset;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
  }
  .doctor-txt > h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .mc-doctor-body > img {
    position: unset;
    width: 100%;
    background-size: cover;
  }
  .career dt {
    padding: 10px 0;
    text-align: center;
  }
  .career dd {
    padding: 10px;
  }
}
/* mc-schedule */
.mc-schedule {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--sub-color-green);
}
.mc-schedule .top-section-title {
  margin-bottom: 100px;
}
.mc-schedule-body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 87px;
  border-radius: 16px;
  background-color: #ffffff;
}
.mc-schedule-body .schedule-table th {
  padding-top: 10px;
  padding-bottom: 13px;
}
.mc-schedule-body .schedule-table td {
  padding-top: 10px;
  padding-bottom: 13px;
}
.mc-schedule-body .schedule-table tr > th:nth-of-type(1) {
  padding-left: 25px;
  text-align: left;
}
.mc-schedule-body .schedule-table tr > td {
  padding-top: 14px;
  padding-bottom: 14px;
}
.mc-schedule-body .am-index {
  line-height: 88px !important;
}
.mc-schedule-body .pm-index {
  padding-bottom: 30px !important;
  line-height: 114px !important;
}
.mc-schedule-body .shedule-tabel-border-index:after {
  width: 85px;
}
.mc-schedule-body .shedule-tabel-border-ampm:after {
  width: 200px;
}
.mc-schedule-body span {
  color: inherit;
  font-size: 10px;
}
@media only screen and (max-width: 1279px) {
  .mc-schedule-body .shedule-tabel-border-ampm:after {
    width: 17vw;
    max-width: 207px;
  }
  .mc-schedule-body .shedule-tabel-border-index:after {
    width: 8vw;
    max-width: 76px;
  }
}
@media only screen and (max-width: 767px) {
  .mc-schedule .top-section-title {
    margin-bottom: 46px;
  }
  .mc-schedule-body {
    padding: 1rem;
    overflow-x: scroll;
  }
  .mc-schedule-body .shedule-tabel-border-ampm:after {
    width: 57vw;
    max-width: 182px;
  }
  .mc-schedule-body .shedule-tabel-border-index:after {
    width: 24vw;
    max-width: 76px;
  }
}
/* 
*
*
健診
*
*
*/
/* Dock template */
.dock-list {
  position: relative;
  /* 訪問診療でも使用 */
  max-width: 1000px;
  margin-top: 56px;
  padding: 35px 70px;
  border-radius: 16px;
  background-color: #ffffff;
}
.dock-list > h3 {
  position: absolute;
  top: -48px;
  left: 15px;
  margin-top: 0;
  padding: 0;
  background-color: unset;
  color: var(--main-green);
  font-weight: 400;
  font-size: 24px;
  line-height: 200%; /* 48px */
  letter-spacing: 1.2px;
}
.dock-list > h3::before {
  display: none;
}
.dock-list > ul {
  list-style-position: inside;
}
.dock-list > ul > li {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 39px;
  background-image: url(/assets/icon/check.svg);
  background-position: left center;
  background-repeat: no-repeat;
  line-height: 200%;
  letter-spacing: 0.8px;
}
.dock-list > ul > li:after {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 860px;
  margin: 0 auto;
  border-bottom: 1px dotted var(--main-green);
  content: '';
}
.dock-list-dotted {
  background-image: unset !important;
}
.dock-list-green {
  background-color: var(--sub-color-green);
}
.dock-singles-list,
.dock-singles-list-white {
  margin-bottom: 16px;
}
.dock-singles-list dt {
  text-align: center;
}
.dock-singles-list-white dt {
  background-color: #ffffff;
  text-align: center;
}
.dock-steps {
  /*訪問診療のお申し込みフローでも使用*/
  list-style-type: none;
  position: relative;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 46px;
  padding: 0;
}
.dock-steps li {
  display: block;
  position: relative;
  z-index: 1;
  margin-left: 52px;
  padding: 10px 0 10px 10px;
  font-size: 1em;
}
.dock-steps li::before {
  position: absolute;
  top: 20px;
  left: -28px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--border-color);
  content: '';
}
.dock-steps li.current::before {
  background-color: var(--main-green);
}
.dock-steps li:last-of-type::after {
  position: absolute;
  bottom: 13px;
  left: -29px;
  width: 16px;
  height: 16px;
  background-image: url(/assets/icon/arrow-gray.svg);
  content: '';
}
.dock-steps::after {
  position: absolute;
  top: 13px;
  left: 29px;
  z-index: 0;
  width: 3px;
  height: calc(100% - 32px);
  background-color: var(--border-color);
  content: '';
}
.dock-steps > li > p:first-of-type {
  color: var(--main-green);
  font-weight: 700;
}
.dock-step-mark {
  background-color: var(--sub-color-green);
}
/*申し込みフォーム */
.cta-form {
  max-width: 1280px;
  background-color: #ffffff;
}
.cta-form > .top-section-title {
  margin-bottom: 46px;
}
.cta-form-body {
  max-width: 1000px;
  margin: 0 auto;
}
.cta-form-body > p:first-child {
  margin-bottom: 120px;
  text-align: center;
}
.cta-buttons {
  display: flex;

  column-gap: 100px;
}
.cta-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.micro-copy-cta {
  margin-bottom: 6px;
  color: #000000;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
}
.btn-call,
.btn-form {
  width: 450px;
  height: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.88px;
  text-align: center;
}
.btn-call {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sub-color-pink);
  color: #ffffff;
}
.btn-call > .icon-call {
  width: 40px;
  height: 40px;
  background: url(/assets/icon/call-white.svg);
}
.btn-form {
  background-color: var(--sub-color-green);
  color: var(--font-color-sub);
}
@media only screen and (max-width: 1279px) {
  .cta-buttons {
    flex-direction: column;

    row-gap: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .cta-buttons {
    row-gap: 70px;
  }
  .btn-call,
  .btn-form {
    width: 100%;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
  }
  .cta-form-body > p:first-child {
    margin-bottom: 70px;
  }
  .btn-call > .icon-call {
    width: 1.5rem;
    height: 1.5rem;
  }
}
/* dock-characteristics */
.dock-characteristics {
  max-width: 1000px;
}
.dock-characteristics .top-section-title {
  margin-bottom: 100px;
}
.dock-characteristics-body {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}
.dock-characteristics-body img {
  width: 230px;
}
@media only screen and (max-width: 767px) {
  .dock-characteristics-body {
    flex-direction: column;
    align-items: center;

    row-gap: 40px;
  }
}
/* dock-menu */
.dock-menu {
  max-width: 1000px;
  padding-top: 0;
}
.dock-menu .top-section-title {
  margin-bottom: 46px;
}
.dock-menu-body {
  max-width: 1000px;
}
.dock-menu-body > p {
  margin-bottom: 100px;
  text-align: center;
}
.dock-list-menu {
  margin-top: 0;
  padding: 35px 70px;
  background-color: var(--sub-color-green);
}
@media only screen and (max-width: 767px) {
  .dock-list-menu {
    padding: 2rem 1.5rem;
  }
}
/* dock-phe(Public Health Examination) */
.dock-phe {
  max-width: 1280px;
  background-color: var(--sub-color-green);
}
.dock-phe > .top-section-title {
  margin-bottom: 46px;
}
.dock-phe-body {
  max-width: 1000px;
  margin: 0 auto;
}
.dock-phe-body > p {
  text-align: center;
}
.dock-phe-body > p:first-child {
  margin-bottom: 32px;
}
.dock-phe-body > p:last-of-type {
  margin-bottom: 46px;
}
@media only screen and (max-width: 1279px) {
  .dock-phe-body .shingles-list .row {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .dock-phe-body .shingles-list dt {
    margin-right: 0;
    padding-left: 0;
  }
  .dock-phe-body .shingles-list dd {
    text-align: right;
  }
}
@media only screen and (max-width: 767px) {
  .dock-phe-body .shingles-list .row {
    flex-wrap: wrap;
    margin: 1rem 0 0;

    row-gap: 1rem;
  }
  .dock-phe-body .dock-list {
    margin-top: 90px;
    padding: 1rem 1rem 2rem;
  }
}
/* dock chc(Corporate Health Check-up) */
.dock-chc {
  max-width: 1280px;
  background-color: #ffffff;
}
.dock-chc > .top-section-title {
  margin-bottom: 46px;
}
.dock-chc-body {
  max-width: 1000px;
  margin: 0 auto;
}
.dock-chc-body > p {
  text-align: center;
}
.dock-chc-body > p:first-child {
  margin-bottom: 32px;
}
.dock-chc-body > p:last-of-type {
  margin-bottom: 46px;
}
@media only screen and (max-width: 1279px) {
  .dock-chc-body .shingles-list .row {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .dock-chc-body .shingles-list dt {
    margin-right: 0;
    padding-left: 0;
  }
  .dock-chc-body .shingles-list dd {
    text-align: right;
  }
}
@media only screen and (max-width: 767px) {
  .dock-chc-body .shingles-list .row {
    flex-wrap: wrap;
    margin: 1rem 0 0;

    row-gap: 1rem;
  }
  .dock-chc-body .dock-list {
    margin-top: 90px;
    padding: 1rem 1rem 2rem;
  }
}
/* dock-shc(Specific health checkup ) */
.dock-shc {
  max-width: 1280px;
  background-color: var(--sub-color-green);
}
.dock-shc > .top-section-title {
  margin-bottom: 46px;
}
.dock-shc-body {
  max-width: 1000px;
  margin: 0 auto;
}
.dock-shc-body > h3 {
  background-color: #ffffff;
}
.dock-shc-body > p {
  text-align: center;
}
.dock-shc-body > p {
  margin-bottom: 46px;
}
.shc-text {
  margin-top: 46px;
  margin-bottom: 46px;
  text-align: left !important;
}
@media only screen and (max-width: 1279px) {
  .dock-shc-body .shingles-list .row {
    flex-direction: row;
    flex-wrap: nowrap;

    column-gap: 1rem;
  }
  .dock-shc-body .shingles-list dt {
    flex-basis: 180px;
    margin-right: 0;
    padding-left: 0;
  }
  .dock-shc-body .shingles-list dd {
    flex-basis: 504px;
  }
}
@media only screen and (max-width: 767px) {
  .dock-shc-body .shingles-list .row {
    flex-wrap: wrap;
    margin: 1rem 0 0;

    row-gap: 1rem;
  }
  .dock-shc-body .dock-list {
    margin-top: 85px;
    padding: 1rem 1rem 2rem;
  }
  .dock-shc-body .dock-list h3:nth-of-type(1) {
    top: -70px;
  }
  .dock-shc-body .dock-list:nth-last-child(1) h3 {
    top: -100px;
  }
  .dock-shc-body .dock-list:nth-last-child(1) {
    margin-top: 110px;
  }
}
/* dock-shg(Specific health guidance) */
.dock-shg {
  max-width: 1280px;
  background-color: #ffffff;
}
.dock-shg > .top-section-title {
  margin-bottom: 46px;
}
.dock-shg-body {
  max-width: 1000px;
  margin: 0 auto;
}
.dock-shg-body > p {
  text-align: center;
}
.dock-shg-body > p {
  margin-bottom: 46px;
}
.shg-text {
  margin-top: 46px;
  margin-bottom: 46px;
  text-align: left !important;
}
/* dock-dock(人間ドック) */
.dock-dock {
  max-width: 1280px;
  background-color: var(--sub-color-green);
}
.dock-dock > .top-section-title {
  margin-bottom: 46px;
}
.dock-dock-body {
  max-width: 1000px;
  margin: 0 auto;
}
.dock-dock-body > p {
  margin-bottom: 32px;
}
.dock-dock-body-headline > p {
  text-align: center;
}
.dock-dock-body-headline > p:first-child {
  margin-bottom: 32px;
}
.dock-dock-body-headline > p:last-of-type {
  margin-bottom: 46px;
}
.dock-dock-body > h3 {
  margin-bottom: 46px;
  background-color: #ffffff;
}
.dock-price {
  font-size: 24px !important;
  letter-spacing: 1.2px !important;
}
.dock-dock-body > .dock-list > ul > li:last-of-type {
  background-position: 0 16px;
}
.about-abi {
  display: flex;
  align-items: center;

  column-gap: 68px;
}
.about-abi p:first-child {
  margin-bottom: 32px;
}
@media only screen and (max-width: 1279px) {
  .dock-dock-body .shingles-list .row {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .dock-dock-body .shingles-list dt {
    margin-right: 0;
    padding-left: 0;
  }
  .dock-dock-body .shingles-list dd {
    text-align: right;
  }
}
@media only screen and (max-width: 767px) {
  .dock-dock-body .shingles-list .row {
    flex-wrap: wrap;
    margin: 1rem 0 0;

    row-gap: 1rem;
  }
  .dock-dock-body .dock-list {
    margin-top: 90px;
    padding: 1rem 1rem 2rem;
  }
  .about-abi {
    flex-direction: column;
  }
  .about-abi img {
    width: 100%;
  }
}
/*
*
*
*
訪問診療
*
*
*/
/* houmon menu */
.houmon-menu {
  max-width: 1280px;
}
.houmon-menu > .top-section-title {
  margin-bottom: 46px;
}
.houmon-menu-body {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.houmon-menu-body p:first-child {
  margin-bottom: 32px;
}
/* houmon flow */
.houmon-flow {
  max-width: 1280px;
}
.houmon-flow > .top-section-title {
  margin-bottom: 46px;
}
.houmon-flow-body {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 61px;
  padding-top: 27px;
  padding-bottom: 7px;
  padding-left: 45px;
  background-color: var(--sub-color-green);
}
.houmon-flow-body .dock-steps > li > p:first-of-type {
  color: var(--font-color);
  font-weight: 400;
}
.houmon-flow-body .dock-steps li:last-of-type::after {
  bottom: 28px;
}
.houmon-flow-bottom {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 46px;
}
.houmon-flow-bottom p:first-of-type {
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 33.18px;
  letter-spacing: 1.659px;
  text-align: center;
}
.download-buttons {
  display: flex;

  column-gap: 100px;
}
.download-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-download {
  position: relative;
  width: 450px;
  height: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid var(--main-green);
  border-radius: 6px;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.88px;
  text-align: center;
  transition: 0.6s;
}
.btn-download:hover {
  background-color: var(--sub-color-green);
}
.btn-download > .icon-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%) translateX(-50%);
  width: 32px;
  height: 32px;
  background: url(/assets/icon/row.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1279px) {
  .houmon-flow-body {
    padding-right: 1rem;
    padding-left: 0;
  }
  .download-buttons {
    flex-direction: column;

    row-gap: 70px;
  }
}
@media only screen and (max-width: 767px) {
  .houmon-flow-bottom p:first-of-type {
    font-size: 1.5rem;
  }
  .houmon-flow-body .dock-steps li:last-of-type::after {
    bottom: 14px;
  }
  .btn-download {
    width: 100%;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
  }
  .icon-arrow {
  }
}
/* houmon characteristics */
.houmon-characteristics {
  max-width: 1280px;
  background-color: var(--sub-color-green);
}
.houmon-characteristics .top-section-title {
  margin-bottom: 100px;
}
.houmon-characteristics-body {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
.houmon-characteristics-body img {
  width: 230px;
}
@media only screen and (max-width: 767px) {
  .houmon-characteristics-body {
    flex-direction: column;
    align-items: center;

    row-gap: 1rem;
  }
}

/* houmon doctor */
.houmon-doctor {
  max-width: 1280px;
}
.houmon-doctor .top-section-title {
  margin-bottom: 93px;
}
.houmon-doctor-body {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;

  column-gap: 45px;
}
.houmon-doctor-body-left {
  text-align: center;
}
.houmon-doctor-body-left img {
  margin-bottom: 15px;
}
.houmon-doctor-body-name ruby {
  color: #000000;
  font-size: 24px;
  font-family: 'Shippori Mincho B1', serif;
  letter-spacing: 1.2px;
  text-align: center;
}
.houmon-doctor-body-name rt {
  color: #000000;
  font-size: 12px;
  line-height: 150%; /* 18px */
  letter-spacing: 0.6px;
  text-align: center;
}
.houmon-doctor-body-right .career {
  width: 660px;
  height: 453px;
}
.houmon-doctor-body-right .career .row:nth-child(1) {
  height: 141px;
}
.houmon-doctor-body-right .career .row:nth-child(2) {
  height: 157px;
  border-radius: 0 0 0 0;
}
.houmon-doctor-body-right .career .row:nth-child(2) dt {
  border-radius: 0 0 0 0;
}
.houmon-doctor-body-right .career .row:nth-child(3) {
  height: 152px;
  border-bottom: unset;
  border-radius: 0 0 0 16px;
}
.houmon-doctor-body-right .career .row:nth-child(3) dt {
  border-radius: 0 0 0 16px;
}
.houmon-doctor-body-right .career dt {
  flex-basis: 184px;
}
.houmon-doctor-body-right .career dd {
  flex-basis: 476px;
  padding-right: 32px;
  padding-bottom: unset;
  padding-left: 25px;
}
@media only screen and (max-width: 1279px) {
  .houmon-doctor-body {
    flex-direction: column;

    row-gap: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .houmon-doctor-body-right .career {
    width: 100%;
  }
  .houmon-doctor-body-right .career dd {
    padding: 10px;
  }
  .houmon-doctor-body-right .career .row:nth-child(1) {
    height: 190px;
  }
  .houmon-doctor-body-right .career {
    height: 100%;
  }
}
/* houmon target */
.houmon-target {
  max-width: 1280px;
  background-color: var(--sub-color-green);
}
.houmon-target .top-section-title {
  margin-bottom: 46px;
}
.houmon-target-body {
  max-width: 1000px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .houmon-target-body .dock-list {
    margin-top: 90px;
    padding: 1rem 1rem 2rem;
  }
}
/* houmon-tae(Treatment and Examination) */
.houmon-tae {
  max-width: 1280px;
}
.houmon-tae .top-section-title {
  margin-bottom: 102px;
}
.houmon-tae-body {
  max-width: 1000px;
  margin: 0 auto;
}
.houmon-tae-body > .dock-list {
  background-color: var(--sub-color-green);
}
@media only screen and (max-width: 767px) {
  .houmon-tae-body .dock-list {
    margin-top: 90px;
    padding: 1rem 1rem 2rem;
  }
}
/* houmon-area */
.houmon-area {
  max-width: 1280px;
  background-color: var(--sub-color-green);
}
.houmon-area .top-section-title {
  margin-bottom: 46px;
}
.houmon-area-body {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.houmon-area-body > img {
  width: 100%;
  max-width: 630px;
  margin-top: 46px;
}
/**/
.text-start {
  text-align: left !important;
}
