:root {
  --main-green: #19a78e;
  --font-color: #333;
  --font-color-sub: #5f5f5f;
  --sub-color-orange: #fbb731;
  --sub-color-green: #f3f9f0;
  --sub-color-pink: #ff8888;
  --border-color: #d9d9d9;
}

* {
  font-size: 16px;
  color: var(--font-color);
  font-family: 'Noto Sans JP', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 47.78px;
}
h2 {
  font-size: 39.81px;
}
h3 {
  font-size: 33.18px;
}
h4 {
  font-size: 27.65px;
}
p {
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.8px;
}
body {
  position: relative;
}

/* icon */
.icon-call {
  background: url(/assets/icon/call.svg);
  height: 26px;
  width: 26px;
  display: inline-block;
  margin-right: 5px;
}

/* 全体 */
.wrapper {
  margin: 0 auto;
}

/* 装飾 */
strong[class~='pink'] {
  color: #ff8888;
  font-weight: 400;
}

/* header */
header {
  border-radius: 0 0 30px 30px;
  background: rgba(255, 255, 255, 0.9);
  max-width: 1280px;
  width: 90%;
  height: 85px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header-left {
  margin-left: 43px;
}
.subtitle {
  color: var(--font-color-sub);
  font-size: 10px;
  line-height: 150%; /* 15px */
  letter-spacing: -0.22px;
  margin-left: 5px;
  margin-top: 4px;
}
.header-title {
  color: var(--font-color-sub);
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.704px;
}
.header-right {
  margin-left: auto;
  margin-right: 46px;
}
.header-right > p {
  color: var(--font-color);
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
  text-align: center;
}
.call-btn {
  color: var(--sub-color-orange);
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.704px;
}

/* first-view-swiper */
.first-view-swiper > .swiper-wrapper {
  width: 100%;
  height: 700px;
}
.swiper-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Nav */
nav {
  height: 150px;
  width: 100%;
  background-color: #fff;
}
.nav-inner {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.nav-inner::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 1px;
  height: 100px;
  background-color: var(--border-color);
  top: 25px;
  left: 0px;
  z-index: 1;
}
@media screen and (max-width: 1280px) {
  .nav-inner::before {
    display: none;
  }
}
.nav-inner a {
  width: 25%;
  text-align: center;
  position: relative;
  transition: 0.5s;
}
.nav-inner a:hover {
  background-color: var(--sub-color-green);
}
.nav-inner a:after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 1px;
  height: 100px;
  background-color: var(--border-color);
  top: 25px;
  right: 0px;
}
@media screen and (max-width: 1280px) {
  .nav-inner a:nth-of-type(4):after {
    display: none;
  }
}
.nav-inner li {
  margin-top: 35px;
}
.nav-inner p {
  font-size: 23.04px;
  font-weight: 500;
  line-height: 150%; /* 34.56px */
  letter-spacing: -0.507px;
}
.info {
  max-width: 1280px;
  height: 468px;
  background-image: url(/assets/img/TOP/info-bg-img.webp);
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 56px;
}
.info-inner {
  max-width: 1000px;
  width: 100%;
  height: 356px;
  border-radius: 16px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.info-inner-header {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 23px;
  display: flex;
  align-items: center;
  position: relative;
}
.info-inner-header:after {
  position: absolute;
  content: '';
  display: inline-block;
  max-width: 952px;
  /* width: 100%;
  height: 1px; */
  /* background-color: var(--font-color); */
  bottom: 0px;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-bottom: 1px dotted #333;
}
.info-inner-header-left {
  margin-right: auto;
}
.info-subtitle {
  color: var(--main-green);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
}
.info-title {
  color: var(--font-color);
  font-size: 23.04px;
  font-weight: 500;
  line-height: 150%; /* 34.56px */
  letter-spacing: -0.507px;
}
.info-header-right {
}
.info-inner-body {
  padding-left: 24px;
  padding-right: 23px;
}
.info-inner-body-link {
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;
  display: block;
}
.info-inner-body-link:after {
  position: absolute;
  content: '';
  display: inline-block;
  max-width: 952px;
  /* width: 100%;
  height: 1px; */
  /* background-color: var(--font-color); */
  bottom: 0px;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-bottom: 1px dotted #333;
}
.info-detail-day {
  color: var(--font-color);
  font-size: 16px;
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
}
.info-detail-title {
  color: var(--font-color);
  font-size: 16px;
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
}
/* TOP ページ */
.top-section-title {
  text-align: center;
}
.top-section-title > span {
  color: var(--sub-color-pink);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
}
.top-section-title > h2 {
  color: var(--font-color);
  font-size: 39.81px;
  font-weight: 400;
  line-height: 150%; /* 59.715px */
  letter-spacing: -0.876px;
  position: relative;
}
.top-section-title > h2:after {
  position: absolute;
  content: '';
  display: inline-block;
  max-width: 546px;
  bottom: 0px;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-bottom: 1px dotted var(--main-green);
}
.information-wrapper {
  margin-top: 40px;
  margin-bottom: 64px;
}
.information-body {
  margin-top: 75px;
  text-align: center;
}
.information-body p:first-child {
  margin-bottom: 32px;
}
/* characteristics */
.characteristics-wrapper {
  width: 100%;
  max-width: 1280px;
  overflow: hidden;
  height: 995px;
}
.wrapper-arc {
  background: var(--sub-color-green);
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  margin-left: -327px;
  margin-right: -327px;
  padding-left: 327px;
  padding-right: 327px;
  height: 904px;
  position: relative;
}
.characteristics-wrapper .top-section-title {
  padding-top: 60px;
  margin-bottom: 110px;
}
.characteristics-body {
  display: flex;
  margin-left: 66px;
  margin-right: 66px;
  justify-content: space-between;
  margin-bottom: 138px;
}
.characteristics-body-item {
  text-align: center;
  width: 33%;
  max-width: 352px;
}
.characteristics-body-item-title,
.characteristics-body-item-title > strong {
  font-size: 23.04px;
  line-height: 150%; /* 34.56px */
  letter-spacing: -0.507px;
  position: relative;
}
.characteristics-body-item-title:after {
  position: absolute;
  content: '';
  display: inline-block;
  max-width: 62px;
  bottom: 0px;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-bottom: 1px solid var(--main-green);
}
.characteristics-body-item:nth-of-type(1) h3 {
  margin-top: 13px;
  margin-bottom: 40.65px;
}
.characteristics-body-item:nth-of-type(1)
  .characteristics-body-item-title:after,
.characteristics-body-item:nth-of-type(3)
  .characteristics-body-item-title:after {
  bottom: -22px;
}
.characteristics-body-item:nth-of-type(2) h3 {
  line-height: 120%; /* 27.648px */
  margin-top: 2px;
  margin-bottom: 24px;
}
.characteristics-body-item:nth-of-type(2)
  .characteristics-body-item-title:after {
  bottom: -12px;
}
.characteristics-body-item:nth-of-type(3) h3 {
  margin-top: 13px;
  margin-bottom: 40.65px;
}
.characteristics-body-item p {
  line-height: 150%; /* 24px */
  letter-spacing: -0.176px;
}

.endlessSwiper {
  position: absolute;
  bottom: -90px;
  width: 100%;
  height: 210px;
}
.endlessSwiper > .swiper-wrapper {
  transition-timing-function: linear;
}
/* 画像のサイズ調整 */
.endlessSwiper > .swiper-wrapper > .swiper-slide img {
  height: auto;
  width: 300px;
}
/* menu */
.menu-wrapper {
  margin-top: 65px;
  margin-bottom: 100px;
}
.menu-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 200px;
  column-gap: 100px;
  margin-top: 89px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  justify-items: center;
}
.menu-item {
}
.menu-item-header-img {
  max-width: 450px;
  width: 100%;
}
.menu-item > ul {
  list-style-position: inside;
  list-style-image: url(/assets/icon/row.svg);
  padding-left: 15px;
  padding-right: 11px;
  margin-top: 25px;
}
.menu-item > ul > li {
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
}
.menu-item > ul > li:after {
  position: absolute;
  content: '';
  display: inline-block;
  max-width: 430px;
  bottom: 0px;
  right: 0;
  left: -6px;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-color);
}

/* body {
  background-color: #333;
} */
