:root {
  --main-green: #19a78e;
  --font-color: #333;
  --font-color-sub: #5f5f5f;
  --sub-color-orange: #fbb731;
}

* {
  font-size: 16px;
  color: var(--font-color);
  font-family: 'Noto Sans JP', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 47.78px;
}
h2 {
  font-size: 39.81px;
}
h3 {
  font-size: 33.18px;
}
h4 {
  font-size: 27.65px;
}
p {
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.8px;
}
body {
  position: relative;
}

/* header */
header {
  border-radius: 0 0 30px 30px;
  background: rgba(255, 255, 255, 0.9);
  max-width: 1280px;
  width: 90%;
  height: 85px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-left {
  margin-left: 43px;
}
.subtitle {
  color: var(--font-color-sub);
  font-size: 10px;
  line-height: 150%; /* 15px */
  letter-spacing: -0.22px;
  margin-left: 5px;
  margin-top: 4px;
}
.header-title {
  color: var(--font-color-sub);
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.704px;
}
.header-right {
  margin-left: auto;
  margin-right: 46px;
}
.header-right > p {
  color: var(--font-color);
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
  text-align: center;
}
.call-btn {
  color: var(--sub-color-orange);
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.704px;
}

/* first-view-swiper */
.swiper-wrapper {
  width: 100%;
  height: 700px;
}
.swiper-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background-color: #333;
}

/* icon */
.icon-call {
  background: url(/assets/icon/call.svg);
  height: 26px;
  width: 26px;
  display: inline-block;
  margin-right: 5px;
}
